@font-face {
  font-family: 'Roca One';
  src: url('/fonts/roca-one.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roca Thin';
  src: url('/fonts/roca-thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}

section {
  padding: 20px;
}

h1 {
  color: #156669 !important;
  font-family: 'Roca Thin', sans-serif;
  font-size: 13vh !important;
  margin-bottom: 0px !important;
}

h2 {
  color: #156669;
  font-family: 'Roca One', sans-serif;
  font-size: 10vh !important;
}

h3 {
  color: #156669;
  font-family: 'Roca One', sans-serif;
  font-size: 7vh !important;
}

h4 {
  color: #156669;
  font-family: 'Montserrat', sans-serif;
}

.is-comment p {
  margin-top: 0.5rem !important;
}

.is-post p {
  margin-top: 0.5rem !important;
}

.profile-page p {
  margin-bottom: 0.5rem !important;
}

label {
  color: #156669 !important;
  font-family: 'Roca One', sans-serif;
  font-size: 3.5vh !important;

}

/* Channel Tile colour */
.is-channel {
  background-color: #7eac96 !important;
  color: white !important;
}

/* Post Tile colour */
.is-post {
  background-color: #83A1CD !important;
  color: white !important;
}

/* Post info */
.post-info {
  color: black;
}

/* Comment tile colour */
.is-comment {
  background-color: #6c84a7 !important;
  color: white !important;
}

/* Button colours */
.is-btn {
  background-color: #156669 !important;
  color: white !important;
}

.is-post-btn {
  background-color: #83A1CD !important;
  color: white !important;
  font-weight: bold;
}

.is-channel-btn {
  font-weight: bold;
}

.navbar {
  background-color: hsl(0 100% 100% / 0.5) !important;
}

.navbar-item {
  padding: 0rem 0.75rem 0rem 0.75rem !important;
}

