<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Browse channels</title>

    <!-- Internal styling -->
    <style>
        html, body {
            background-image: url("/images/browse-bg.png");
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            width: 100%;
            overflow-x: hidden !important;
            overflow-y: auto !important;
            line-height: 1 !important;
        }

        .navbar {
            background-color: hsl(0 100% 100% / 0.5) !important;
        }

        button {
            font-family: 'Times New Roman', Times, serif;
        }
    </style>

    <!-- Personal Style Sheet -->
    <link rel="stylesheet" th:href="@{/css/styles.css}"> 

    <!-- Google Font API -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap" rel="stylesheet">

    <!-- Bulma CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

</head>

<!-- Javascript logic for notification delete button -->
<script src="/js/notificationdelete.js"></script>

<body class="has-navbar-fixed-top pb-6">

    <!-- NAV BAR -->
    <nav class="navbar is-transparent is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
        <a class="navbar-item" href="/channels">
            <img src="/images/logo.png" width="35" height="35">
        </a>
    
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
        </div>
    
        <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/channels">
            Browse Channels
            </a>
    
            <a class="navbar-item" th:href="@{/profile/{username}(username=${username})}">
            Profile
            </a>
        </div>
    
        <div class="navbar-end">
            <div class="navbar-item">
            <div class="buttons">
                <form method="get">
                    <button class="button is-dark" formaction="/logout">
                        Log out
                    </button>
                </form>
            </div>
            </div>
        </div>
        </div>
    </nav>

    <!-- BODY CONTENT -->
    <div class="notification is-primary is-light" th:if="${isnewchanneladded}">
        <button class="delete"></button>
        New Channel Successfully Added!
    </div>

    <div class="columns pt-3">
        <div class="column px-6 mx-6 mt-5 has-text-centered">
            <h3 class="pb-3">Browse Channels</h3>
            <form>
                <button formmethod="get" formaction="/channels/newchannel" class="button is-link is-small is-rounded pt-2">Add New Channel</button>
            </form>
        </div>
    </div>

    <div class="tile is-ancestor mx-6 px-6" th:each="channel : ${channels}">
        <div class="tile is-parent">
            <div class="tile is-child">
                <a a th:href="@{/channels/{channelName}(channelName=${channel.channelName})}">
                    <article class="tile is-child notification is-warning">
                        <p class="title" th:text="${channel.channelName}"></p>
                        <p class="subtitle" th:text="${channel.description}"></p>
                    </article>
                </a>

            </div>
        </div>
    </div>
    
</body>
</html>