<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RESTAPI</title>

    <!-- Internal styling -->
    <style>
        html, body {
            background-image: url("/images/index-bg.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            height: 100vh;
            width: 100%;
            overflow-y: hidden !important;
            line-height: 1 !important;
        }
    </style>

    <!-- Personal Style Sheet -->
    <link rel="stylesheet" th:href="@{/css/styles.css}">

    <!-- Google Font API -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap" rel="stylesheet">

    <!-- Bulma CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body class="has-navbar-fixed-top pb-6">

    <!-- NAV BAR -->
    <nav th:replace="~{navbar.html :: navbar}"></nav>

    <!-- BODY CONTENT -->
    <div class="pt-5 mt-5">
        <div class="columns pt-5 px-6 mx-6 is-three-fifths">
            <h3>REST API: Users' data</h3>
        </div>
        <div class="columns pt-5 px-6 mx-6 is-three-fifths">
            <h4>View users' public information in JSON format.</h4>
        </div>
        <div class="px-6 mx-6 has-text-centered">
            <hr>
        </div>
        <div class="columns pt-5 px-6 mx-6">
            <form>
                <div class="column p-0 pt-2">
                    <h4 class="mb-3">Get a particular user via their username</h4>
                    <input name="username" class="input is-rounded mb-3" type="text" placeholder="Enter username">
                    <button th:formaction="@{/restapi/info}" formmethod="get" class="button is-medium is-btn is-rounded mr-3 mb-6" type="submit">Get user</button>
                </div>

                <div class="column p-0 pt-2">
                    <h4 class="mb-3">Get all existing users</h4>
                    <button formmethod="get" formaction="/restapi/info/allusers" class="button is-medium is-btn is-rounded mr-3">Get all users</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>